<div>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul *ngIf="list.length">
      <li *ngFor="let item of list">{{item}}</li>
    </ul>
    <div class="row">
      Current mode: {{authMode}}
    </div>
    <div class="row">
      <span *ngIf="isLoginMode()">
        Need an account? <a (click)="authMode='register'">Click here to register.</a>
      </span>
      <span *ngIf="isRegisterMode()">
        Already have an account? <a (click)="authMode='login'">Click here to login.</a>
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</div>
